<h1><%= @balado.titre %></h1>

<div class="row">
  <div class="col-md">
    <p><%= @balado.description %></p>
    <p><%= mail_to @balado.email %></p>
    <p><%= link_to bootstrap_icon(:rss), balado_path(@balado, :atom) %></p>
  </div>
  <div class="col-md">
    <% if @balado.episodes.count > 0 %>
      <h6>Dernier épisode</h6>
      <h4><%= @balado.episodes.last.titre %></h4>
      <p><%= @balado.episodes.last.short_description %></p>
      <%= render 'balados/balado_player', episode: @balado.episodes.last %>
    <% end %>
    <% if @balado.episodes.count > 1 %>
      <% @balado.episodes.reverse[1..].each do |episode| %>
        <h6>Tous les épisodes</h6>
        <h4><%= episode.titre %></h4>
        <p><%= episode.short_description %></p>
        <%= render 'balados/balado_player', episode: episode %>
      <% end %>
    <% end %>
  </div>
</div>
