<%= form_with model: [:admin, membership], local: true do |form| %>
  <div class="row">
    <div class="col-lg-6">
      <%= form.label :nom, t('admin.memberships.form.nom_label'), class: 'form-label' %>
      <%= form.text_field :nom, class: 'form-control' %>
    </div>
    <div class="col-lg-6">
      <%= form.label :montant, t('admin.memberships.form.montant_label'), class: 'form-label' %>
      <%= form.number_field :montant, step: 0.01, class: 'form-control' %>
    </div>
  </div>
  <%= render 'admin/shared/form_actions', button_label: t('admin.shared.form_action.save_btn') %>
<% end %>
