<%= render 'admin/shared/page_header', titre: t('admin.nav.memberships') %>

<%= render 'admin/shared/create_item_button', btn_label: t('admin.memberships.create_btn'), btn_path: new_admin_membership_path %>

<table class="table">
  <thead>
    <th>Nom</th>
    <th>Reccurence</th>
    <th>Montant</th>
  </thead>
  <tbody>
    <% @memberships.each do |membership| %>
      <tr>
        <td><%= membership.nom %></td>
        <td><%= membership.reccurence %></td>
        <td><%= number_to_currency(membership.montant, format: "%n %u") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
