<%= form_with model: [:admin, @emission], local: true, data: { controller: 'admin--emission-form' } do |form| %>
  <div class="row mb-3">
    <div class="col-lg">
      <%= form.label :nom, t('admin.emissions.form.nom'), class: 'form-label' %>
      <%= form.text_field :nom, class: 'form-control' %>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-lg">
      <%= form.label :description, t('admin.emissions.form.description'), class: 'form-label' %>
      <%= form.text_area :description, class: 'form-control' %>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-lg">
      <%= form.label :email, t('admin.emissions.form.email'), class: 'form-label' %>
      <%= form.email_field :email, class: 'form-control' %>
    </div>
    <div class="col-lg">
      <%= form.label :status, t('admin.emissions.form.status'), class: 'form-label' %>
      <%= form.select(:status, Emission.statuses.keys.map { |status| [status.titleize, status] }, {}, class: 'form-select') %>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-lg">
      <%= form.label :categorie_emission_id, t('admin.emissions.form.categorie'), class: 'form-label' %>
      <%= form.select :categorie_emission_id, CategorieEmission.all.map { |categorie| [categorie.nom, categorie.id] }, {}, class: 'form-select' %>
    </div>
    <div class="col-lg">
      <%= form.label :user_ids, t('admin.emissions.form.utilisateur'), class: 'form-label' %>
      <%= form.select :user_ids, options_from_collection_for_select(@utilisateurs, :id, :email, @emission.user_ids), { multiple: true }, class: 'form-control' %>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-lg">
      <%= form.label :tag_ids, t('admin.emissions.form.tags'), class: 'form-label' %>
      <%= form.select :tag_ids, options_from_collection_for_select(@tags, :id, :nom, @emission.tag_ids), { multiple: true }, class:"form-select" %>
    </div>
  </div>
  <%= form.fields_for :social_media_accounts do |account_form| %>
    <%= account_form.hidden_field :id %>
    <div class="mb-3" data-admin--emission-form-target="socialNetworkFieldset">
      <div class="row">
        <div class="col-lg">
          <%= account_form.label :platform, t('admin.emissions.form.account_platform'), class: 'form-label' %>
          <%= account_form.select :platform, options_for_select(SocialMediaAccount.platforms.keys.map { |p| [p.titleize, p] }, account_form.object.platform), {}, class: 'form-select' %>
          <%# TODO: Add a checkbox here to delete the account %>
        </div>
        <div class="col-lg">
          <%= account_form.label :nom, t('admin.emissions.form.platform_name'), class: 'form-label' %>
          <%= account_form.text_field :nom, class: 'form-control' %>
          <small class="text-muted">
            <%= t('admin.emissions.form.platform_name_help') %>
          </small>
        </div>
      </div>
      <div class="row">
        <div class="col-lg">
          <%= account_form.label :url, t('admin.emissions.form.account_url'), class: 'form-label' %>
          <%= account_form.text_field :url, class: 'form-control' %>
        </div>
      </div>
    </div>
  <% end %>
  <button id="add-account-btn" class="btn btn-outline-secondary mt-3" data-action="click->admin--emission-form#createNewAccountForm"><%= t('admin.emissions.form.add_account_btn') %></button>
  <%= render 'admin/shared/form_actions',  cancel_path: admin_emissions_path, button_label: t('admin.shared.form_action.save_btn') %>
<% end %>
