<div class="media-sociaux-form-wrapper" data-new-record="<%= form.object.new_record? %>">
  <%= form.hidden_field :id %>
  <%= form.hidden_field :_destroy %>
  <div class="mb-3" data-admin--emission-form-target="socialNetworkFieldset">
    <div class="row">
      <div class="col-lg">
        <%= form.label :platform, t('admin.emissions.form.account_platform'), class: 'form-label' %>
        <%= form.select :platform, options_for_select(SocialMediaAccount.platforms.keys.map { |p| [p.titleize, p] }, form.object.platform), {}, class: 'form-select' %>
      </div>
      <div class="col-lg">
        <%= form.label :nom, t('admin.emissions.form.platform_name'), class: 'form-label' %>
        <%= form.text_field :nom, class: 'form-control' %>
        <small class="text-muted">
          <%= t('admin.emissions.form.platform_name_help') %>
        </small>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <%= form.label :url, t('admin.emissions.form.account_url'), class: 'form-label' %>
        <%= form.text_field :url, class: 'form-control' %>
      </div>
      <div class="col-lg-6">
        <label>&nbsp;</label>
        <button type="button" data-action="click->admin--emission-form#deleteMediaSociaux" class="btn btn-outline-danger btn-as-block">Supprimer</button>
      </div>
    </div>
  </div>
</div>
