<%= render 'admin/shared/page_header', titre: t('admin.nav.shows') %>

<%= render 'admin/shared/create_item_button', btn_label: t('admin.emissions.create_emission_btn'), btn_path: new_admin_emission_path %>

<% @emissions.each do |emission| %>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><%= link_to emission.nom, [:admin, emission] %></h5>
      <p class="card-text">
        Émission <%= emission.status %><br/>
        <a href="mailto:<%= emission.email %>"><%= emission.email %></a>
      </p>
      <p>
        tags:
        <% emission.tags.each  do |tags|  %>
        <p><%= tags.nom %></p>
        <% end %>
          </p>
    </div>
  </div>
<% end %>
