<%= render 'admin/shared/page_header', titre: t('nav.shows') %>

<%= render 'admin/shared/create_item_button', btn_label: t('admin.emissions.create_emission_btn'), btn_path: new_admin_emission_path %>

<table class="table">
  <thead>
    <th>Nom</th>
    <th>Email</th>
    <th>Tags</th>
    <th>Status</th>
    <th>Catégorie</th>
    <th></th>
  </thead>
  <tbody>
    <% @emissions.each do |emission| %>
      <tr>
        <td><%= link_to emission.nom, admin_emission_path(emission) %></td>
        <td><%= emission.email %></td>
        <td><%= format_tags_list(emission.tags) %></td>
        <td><%= format_status(emission.status).html_safe %></td>
        <td><%= emission.categorie_emission.nom %></td>
        <td>
          <%= link_to bootstrap_icon('pencil'), edit_admin_emission_path(emission) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
