<%= render 'admin/shared/page_header', titre: t('nav.ads') %>

<%= render 'admin/shared/create_item_button', btn_label: t('admin.pub.create_pub_btn'), btn_path: new_admin_publicite_path %>

<table class="table">
  <thead>
    <th>Nom</th>
    <th>Date début</th>
    <th>Date fin</th>
    <th>Lien</th>
    <th></th>
  </thead>
  <tbody>
    <% @publicites.each do |pub| %>
      <tr>
        <td><%= pub.nom %></td>
        <td><%= pub.date_debut %></td>
        <td><%= pub.date_fin %></td>
        <td><%= pub.liens %></td>
        <td>
          <%= link_to bootstrap_icon(:pencil), edit_admin_publicite_path(pub) %>
          <%= link_to bootstrap_icon(:trash), admin_publicite_path(pub), data: { turbo_method: :delete, turbo_confirm: t('admin.pub.error.pub_deleted')} %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
