<%= form_with model: [:admin, categorie], local: true do |form| %>
  <div class="row">
    <div class="col-lg-6">
      <%= form.label :nom, t('admin.categorie_emissions.form.nom_label'), class: "form-label" %>
      <%= form.text_field :nom, class: 'form-control' %>
    </div>
    <div class="col-lg-6">
      <%= form.label :couleur, t('admin.categorie_emissions.form.couleur_label'), class: "form-label" %>
      <%= form.color_field :couleur, class: "form-control form-control-color" %>
    </div>
  </div>

  <%= render 'admin/shared/form_actions' %>
<% end %>
