<h1>Enregistrer une nouvelle catégorie d'émission</h1>
<%= form_with model: [:admin, categorie], local: true do |form| %>
  <div class="row">
    <div class="col-lg-6">
      <%= form.label "nom de la catégorie : ", class: "form-label" %>
      <%= form.text_field :nom, class: 'form-control' %>
    </div>
    <div class="col-lg-6">
      <%= form.label "Choisir la couleur de l'émission : ", class: "form-label" %>
      <%= form.color_field :couleur, class: "form-control form-control-color" %>
    </div>
  </div>
  <%= render 'admin/shared/form_actions',  cancel_path: admin_categorie_emissions_path, button_label: t('admin.shared.form_action.save_btn') %>
<% end %>
