<%= render 'admin/shared/page_header', titre: t('nav.show_categories') %>

<%= render 'admin/shared/create_item_button', btn_label: t('admin.categorie_emissions.create_category_btn'), btn_path:  new_admin_categorie_emission_path %>

<table class="table">
  <thead>
    <th>Nom</th>
    <th>Couleur</th>
    <th></th>
  </thead>
  <tbody>
    <% @categories.each do |categorie| %>
      <tr>
        <td><%= categorie.nom %></td>
        <td><span class="color-pellet" style="background-color: <%= categorie.couleur %>;"></span></td>
        <td>
          <%= link_to bootstrap_icon(:pencil), edit_admin_categorie_emission_path(categorie) %>
          <%= link_to bootstrap_icon(:trash), admin_categorie_emissions_path(categorie), data: { turbo_method: :delete, turbo_confirm: t('admin.pub.error.pub_deleted')} %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
