<footer class="container flex-shrink-0 p-3 mb-3">
  <div class="row">
    <div class="col-lg-6">
      <h4 class="mb-3">CKIA ailleurs sur le Web</h4>
      <%= link_to bootstrap_icon(:facebook), "https://facebook.com/ckiafm", class: 'social-link' %>
      <%= link_to bootstrap_icon(:youtube), "https://www.youtube.com/channel/UCAMN64R7HtbAKQOK_Om3Lag", class: 'social-link' %>
      <%= link_to bootstrap_icon(:instagram), "https://www.instagram.com/ckiafm88.3/", class: 'social-link' %>
      <%= link_to bootstrap_icon(:twitter), "https://twitter.com/ckiafm", class: 'social-link' %>
      <%= link_to bootstrap_icon(:mastodon), "https://jasette.facil.services/@CKIAFM", class: 'social-link' %>
      <%# link_to bootstrap_icon(:feed), "https://ckiafm.org/blog/feed", class: 'social-link' %>
    </div>
    <div class="col-lg-6">
      <h4>Infolettre</h4>
      <%= form_with url: "https://ckiafm.us8.list-manage.com/subscribe/post", method: "post" do |form| %>
        <div class="row">
          <div class="col-lg-6">
            <%= form.label :prenom, "Prénom" %>
            <%= form.text_field :MERGE1, id: :prenom, class: 'form-control', size: 25, required: true %>
          </div>
          <div class="col-lg-6">
            <%= form.label :nom, "Nom" %>
            <%= form.text_field :MERGE2, id: :nom, class: 'form-control', size: 25, required: true %>
          </div>
        </div>
        <div class="row">
          <div class="col-lg">
            <%= form.label :email, "Email" %>
            <%= form.email_field :MERGE0, id: :email, class: 'form-control', autocapitalize: false, autocorrect: false, size: 25, required: true %>
          </div>
        </div>
        <%= button_tag "M'abonner #{bootstrap_icon(:send)}".html_safe, class: 'btn ckia-action-btn mt-3' %>
      <% end %>
    </div>
  </div>
</footer>
