<!DOCTYPE html>
<html>
  <head>
    <title>CKIA</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "admin" %>
    <%= javascript_importmap_tags 'admin' %>
  </head>

  <body>
    <%= render 'admin/shared/nav' %>
    <div class="aler alert-danger" role="alert">
      <p><%=notice%></p>
    </div>
    <main class="container">
      <%= yield %>
    </main>
  </body>
</html>
