<!DOCTYPE html>
<html>
  <head>
    <title>CKIA</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "admin" %>
    <%= javascript_include_tag "admin" %>
  </head>

  <body>
    <%= render 'admin/shared/nav' %>
    <%= yield %>
  </body>
</html>
